<%= form_for([@post, @post.replies.build]) do |f| %>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Reply', class: "waves-effect waves-light btn" %>
  </div>
<% end %>
