<h5>Edit Reply</h5>


<%= form_for([@post, @reply]) do |f| %>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit 'Edit Reply', class: "waves-effect waves-light btn" %>
  </div>
<% end %>